{% extends 'layout.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1>ОБО МНЕ</h1>
    </aside>
    <aside class="main_text">
        <h5>Я, Брагин Николай, начинающий, но крайне одаренный Вack-end разработчик.</h5><br>
        <h5>В данный момент закончил обучение по курсу PYTHON в Tehnikum school и получил диплом.</h5><br>
        <h5>Этот сайт является дипломным проектом и отображает мои скиллы и компетенции!</h5><br>
        <h5>Моя дальнейшая цель - устроится junior backend разработчиком или стажером для закрепления скиллов и наработки бесценного опыта.</h5><br>
        <h5>Дополнительно в ноябре планирую продолжить обучение в IT парке ташкента (6 месяцев backend python)</h5><br>
        <h5>Так же готов преподавать в учебных заведениях или ВУЗах (опыт преподавательской деятельности 7 лет)</h5><br>
    </aside>
{% endblock %}

{% block search %}
    <form action="search" method="POST">
        <input class="find" type="text" placeholder="Поиск по имени" name="search_product">
    </form>
{% endblock %}

{% block tools %}
<aside class="tools">
    <h5>
        ПРОФЕССИИ:
        {% for category in category %}
            <a href="category/{{ category.category_id }}">{{ category.category_name }}</a>
        {% endfor %}<br>
        <br>СОТРУДНИКИ:
        {% for product in product %}
            <a href="product/{{ product.product_id }}">{{ product.product_name }}</a>
        {% endfor %}
    </h5>
</aside>
{% endblock %}







