{% extends 'layout.html' %}

{% block title %}Работник{% endblock %}

{% block content %}
    <aside class="title_text_ex">
        <h1>{{ product.product_name }}</h1>
    </aside>
    <aside class="main_text_ex">
        <h4>Профессия: {{ product.product_category }}</h4><img src="/{{ product.product_photo }}" alt="{{ product.product_name }}"/><br>
        <h4>Город: {{ product.product_city }}</h4><br>
        <h4>Резюме: {{ product.product_des }}</h4><br>
        <h4>Начальная зарплата: {{ product.product_price }} сум</h4><br>


    </aside>
{% endblock %}

{% block tools %}
<aside class="tools_ex">
    <h5>

    </h5>
</aside>
{% endblock %}


