{% extends 'layout.html' %}

{% block title %}Все работники по выбранной профессии{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1>ВСЕ РАБОТНИКИ ПО ВЫБРАННОЙ ПРОФЕССИИ</h1>
    </aside>
    <aside class="main_img_3">
        {% for product in products %}
            <a href="/product/{{ product.id }}" class="btn btn-primary"><img class="portret" src="/{{ product.product_photo }}" alt="{{ product.product_name }}" /></a>
        {% endfor %}
    </aside>
{% endblock %}

{% block tools %}
<aside class="tools_ex">
    <h5>
        В данном разделе отображены все работники из общей базы данных, имеющие в своем резюме указанную профессиию.<br>
        <br>
        Для просмотра подробной информации кликните по заинтересовавшему вас работнику. База данных постоянно пополняется свежими резюме.
    </h5>
</aside>
{% endblock %}



